# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.c-_unity1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\c# projects\c-_unity1\.idea\.idea.c-_unity1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
